@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb-color: #0d9488;
  --scrollbar-track-color: #cbd5e1;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

html::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

@layer base {
  h1 {
    @apply mb-12 text-center text-4xl font-bold leading-normal;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  ::selection {
    @apply bg-teal-100 text-black;
  }
  input:focus {
    @apply outline-none ring-0;
  }
  input:focus-within {
    @apply outline-none ring-0;
  }
}

@layer components {
  .nav-link {
    @apply cursor-pointer text-lg font-semibold tracking-wide transition-all duration-200 hover:underline hover:decoration-2 hover:underline-offset-8 md:px-5 md:text-sm lg:px-7 lg:text-base;
  }
  .menu-icon {
    @apply flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-opacity-50 shadow-xl md:hidden;
  }
  .radio-checkbox-style {
    @apply border-teal-600 text-teal-600 focus:ring-teal-600;
  }
  .ad-card-underline {
    @apply underline decoration-teal-400 underline-offset-4;
  }
  .ad-card-listing-type {
    @apply rounded-full py-1 px-2 text-sm font-semibold text-white lg:text-base;
  }
  .remove-default-focus {
    @apply border-transparent focus-within:outline-none focus:border-teal-600 focus:border-t-transparent focus:border-r-transparent focus:border-l-transparent focus:ring-0;
  }
  .remove-default-focus-textarea {
    @apply focus-within:outline-none focus:border-teal-600 focus:ring-0;
  }
  .heading-underline {
    @apply underline decoration-teal-600 decoration-4 underline-offset-8;
  }
  .required-style {
    @apply after:ml-0.5 after:font-bold after:text-rose-600 after:content-['*'];
  }
}

.footer-tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
  transform: rotateY(180deg);
}

.footer-tilt .shape-fill {
  fill: #ffffff;
}

.modal {
  width: clamp(60%, 700px, 95%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}

.image-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
}

.apartment-modal {
  margin-top: 5rem;
}
